.main-page {
  #main {
    background: #e0f7fa;
    padding: 100px 0;
    text-align: center;

    h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    button {
      margin-top: 20px;
      padding: 15px 30px;
      background: #00bfa5;
      color: white;
      border: none;
      border-radius: 30px;
      font-size: 16px;
      transition: background 0.3s;
      cursor: pointer;

      &:hover {
        background: #00897b;
      }
    }
  }

  .section {
    padding: 80px 0;
  }

  .title {
    margin-bottom: 20px;
  }

  #about {
    p {
      font-size: 15px;
      margin-bottom: 10px;
      line-height: 1.6;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #projects {
    .project-list {
      display: flex;
      margin-top: 40px;

      &:nth-child(even) {
        justify-content: flex-end;
      }

      .project-item {
        height: 100%;
        background: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

        &:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          transition: box-shadow 0.5s;
        }

        h3 {
          margin-bottom: 10px;
        }

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 8px;
          transform: scale(0.95);
          transition: transform 0.5s;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        }

        &:hover img {
          transform: scale(1);
        }

        .project-link {
          display: inline-block;
          margin-right: 10px;
          padding: 8px 12px;
          border-radius: 5px;
          border: 1px solid #333;
          transition: 0.3s;

          &:hover {
            background-color: #333;
            color: white;
          }
        }

        p {
          margin-bottom: 15px;
          font-size: 15px;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }

  .swiper {
    height: 110px;

    .swiper-slide {
      height: 100px;
      background: white;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 70px;
        height: auto;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .contact {
    li {
      margin-bottom: 10px;

      i {
        font-size: 20px;
        margin-right: 10px;
      }

      span {
        font-size: 15px;
        letter-spacing: 1px;
      }

      a {
        display: inline-block;
      }
    }

    .github-btn {
      height: 50px;
      margin-top: 15px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.3s, filter 0.3s, box-shadow 0.3s;

      &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }

  #scrollToTopBtn {
    @include scroll-btn(#00bfa5, #00897b);
  }
}
